@include huge {



    .playnow {
        &__data {
            float: left;
            width: 52vw;
            margin: 0;
            margin-left: 12.5vw;
        }
    }

    .playnext {
        &__box{
            float: right;
            width: 22vw;
            margin: 0;
            margin-right: 12vw;
            margin-top: 48px;
            border-left: 1px $silver solid;
            padding-left: 2vw;
            

        }
    }
}